  .input {
    margin: 20px 5px;
    border-color: transparent;
    border-bottom-color: rgb(250, 184, 1);
    background-color: transparent;
    color: rgb(255, 255, 0);
  }
  .input:focus {
    outline: none;
  }
  .boton{
    margin-left: 25px;
    background-color: rgb(255, 127, 0);
    border-radius: 20px;
    padding: 5px;
    min-height:30px; 
    min-width: 120px;
    font-size: 20px;
    border-color: transparent;
    font-family: 'Roboto Slab', serif;
  }
  .boton:hover {
    outline: none;
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    transition: 0.5s
  }
  .boton:active {
    background-color: rgba(255, 127, 0, 0.7);;
    transition: 0s;
  }
  .text {
    margin-top: 10px;
    color: black;
  }