body {
  background-color: lightslategray;
}

.borde {
  border: 5px solid white
}

.col-6 {
  text-align: center;
}

.col-3 {
  height: 300px;
  font-size: 18px;
  font-style: oblique;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* vertically aligns items */
  align-items: center;
  /* horizontally aligns items */
}
