body {
  background-image: url("image.png");
  background-size:cover;
  background-repeat: no-repeat;

}

.borde {
  border: 5px solid white dashed
}

.col-6 {
  text-align: center;
}

.col-3 {
  height: 300px;
  font-size: 18px;
  font-style: oblique;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px rgba(255, 145, 1, 0.5) dashed
}
